
{% extends "layout.html" %}

{% block content %}

<table class="table table-striped">
	<caption>PlayLists Ranking</caption>
	<thead>
		<tr>
			<th scope="col">ID </th>
			<th scope="col">PlayList Name</th>
			<th scope="col">Followers</th>
			<th scope="col">Ranking</th>
		</tr>
	</thead>
	<tbody>
		{% for list in playlists %}
		<tr>
			<th scope="row"> {{ list.playlist_id }} </th>
			<td>{{ list.name }} </td>
			<td>{{ list.today_followers }} </td>
			<td>{{ list.ranking }} </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<style type="text/css">
	caption {
	    padding: 10px;
	    font-weight: 900;
	    text-align: center;
	    font-size: 30px;
	}

</style>
{% endblock %}

